@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Raleway:200,400);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* NAV2 */

/*SPINNER*/
.spinner-master2 * {
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
  box-sizing:border-box;
}

.spinner-master2 {
  position:absolute;
  right:10px;
  top:7px;
  height:40px;
  width:40px;
  display: none;
}

.spinner-master2 input[type=checkbox] {
  display:none;
}

.spinner-master2 label {
  cursor:pointer;
  position:absolute;
  z-index:99;
  height:100%;
  width:100%;
  top:10px;
  left:0;
}

.spinner-master2 .spinner2 {
  position:absolute;
  height:5px;
  width:100%;
  background-color:#000;}

.spinner-master2 .diagonal.part-1 {
  position:relative;
  float:left;
}

.spinner-master2 .horizontal {
  position:relative;
  float:left;
  margin-top:7px;
}

.spinner-master2 .diagonal.part-2 {
  position:relative;
  float:left;
  margin-top:6px;
}

.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .horizontal {
  opacity: 0;
}

.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-1 {
  transform:rotate(135deg);
  -webkit-transform:rotate(135deg);
  margin-top:10px;
}

.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-2 {
  transform:rotate(-135deg);
  -webkit-transform:rotate(-135deg);
  margin-top:-16px;
}




/* NAV */

.nav {
  /*background-color: #1c1c1c;*/
  /*background: linear-gradient(#FFFFFF, #ECE9E6);*/
  background: linear-gradient(#414345, #232526);
  height: 100%;
  width: 20%;
  float: left;
  clear: both;
  position: fixed;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #414141;
}

.myname {
  font-size: 2em;
  font-weight: 400;
  color: #ADA074;
  margin-bottom: 5px;
  margin-top: 40px;
}

.nav-heading-div {
  margin-bottom: 60px;
}

.nav a{
  display: block;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #ECE9E6;
}



nav a:visited {
  color: #ECE9E6;
}

.nav a:hover {
  text-decoration: line-through;
}

/* TYPOGRAPHY */


h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.subhead {
  color: #ECE9E6;
  font-size: 0.75em;
  margin-top: 0;
}

p {
  font-family: 'EB Garamond', serif;
}

a {
  text-decoration: none;
}




.title {
  font-size: 2em;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  color: white;
}

/* IMGS */
.mainphoto {
  margin: 0 auto;
  background-color: #ccc;
  width: 600px;
  height: 400px;
}



/*  SECTIONS  */
.container {
  padding: 0 1.6% 0 0;
  margin: 0px;
}

.section {
  clear: both;
  padding: 0 1.6% 0 0;
  margin: 0px;
  float: right;
  width: 80%;
}

.thumbnail {
  background-color: #ECE9E6;
  padding: 15%;
  display: block;
  text-decoration: none;
}

.thumbnail h2 {
  color: #a9a9a9;
}

.tile-icon {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background-color: #ece9e6;
  margin-bottom: 15%;
}


/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
/*.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}


/*  GRID OF THREE  */
.span3-of-3 {
  width: 100%;
}
.span2-of-3 {
  width: 66.1%;
}
.span1-of-3 {
  width: 31.7333%;
}

/*  TABLE  */
table {
  margin: 0 auto;
}


th, td {
    padding: 5px;
    text-align: left;
}

table td:nth-child(even) {
  border-bottom: 1px dotted black;
  font-family: 'Raleway', sans-serif;
}

table td:nth-child(odd) {
  font-family: 'EB Garamond', serif;
}


/*  MEDIA QUERIES  */


/*  GO TWO COLUMN AT LESS THAN 1100 PIXELS */

@media only screen and (max-width: 1000px) {
  .span1-of-3 { 
    width: 48%; 
    margin: 1% 1%;
  }
  .section { padding: 1%;}
} 

/*  GO FULL WIDTH AT LESS THAN 700 PIXELS */

@media only screen and (max-width: 700px) {
  .span3-of-3, .span2-of-3, .span1-of-3 { 
    width: 96%; 
    margin: 2% 2%;
  }
  .section { 
    padding: 1%;
    width: 100%;
  }
  .nav { 
    float:left;
    width:100%;
    padding-left: 5%;
    position:relative;
    float:left;
    padding-top: 10px;
    padding-bottom:10px;
  }

  .nav-items {
    display:none;
  }

  .spinner-master2 {
    position: absolute;
    right: 7px;
    top: 7px;
    display: block;
  }

  
}




