@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Raleway:200,400);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* NAV2 */

body .c-hamburger{
  display: none;
}

/* NAV */

.nav {
  /*background-color: #1c1c1c;*/
  /*background: linear-gradient(#FFFFFF, #ECE9E6);*/
  background: linear-gradient(#414345, #232526);
  height: 100%;
  width: 20%;
  float: left;
  clear: both;
  position: fixed;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #414141;
}

.myname {
  font-size: 2em;
  font-weight: 400;
  color: #ADA074;
  margin-bottom: 5px;
  margin-top: 40px;
}

.nav-heading-div {
  margin-bottom: 60px;
}

.nav a{
  display: block;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #ECE9E6;
}

nav a:visited {
  color: #ECE9E6;
}

.nav a:hover {
  text-decoration: line-through;
}


.nav .on {
  text-decoration: line-through;
}



/* TYPOGRAPHY */


h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.myname-sub {
  color: #ECE9E6;
  font-size: 0.75em;
  margin-top: 0;
  letter-spacing: 2px;
}

.grovo {
  color: #2f3f50;
  font-weight: 400;
}

p {
  font-family: 'EB Garamond', serif;
}

a {
  text-decoration: none;
}


.title {
  font-size: 2em;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  color: white;
}

#project-title {
  text-align: center;
}

/* IMGS */

.short-hr {
  width: 100px;
  margin: 0 auto;
}


#project-imgs img{
  width: 100%;
  height: 500px;
  background-color: #ECE9E6;
}
.nav-links-responsive{
    display: none;
  }


/*  SECTIONS  */
.container {
  padding: 0 1.6% 0 0;
  margin: 0px;
}

.section {
  clear: both;
  padding: 0 1.6% 0 0;
  margin: 0px;
  float: right;
  width: 80%;
}

.thumbnail {
  background-color: #ECE9E6;
  padding: 15%;
  display: block;
  text-decoration: none;
}

.thumbnail h2 {
  color: #a9a9a9;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.tile-icon {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background-color: #ece9e6;
  margin-bottom: 15%;
}


/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}



/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}


/*  GRID OF THREE  */
.span3-of-3 {
  width: 98.4%;
}
.span2-of-3 {
  width: 48.4%;
}
.span1-of-3 {
  width: 31.7333%;
}

/*  TABLE  */


th, td {
    padding: 5px;
    text-align: left;
}

table td:nth-child(even) {
  border-bottom: 1px dotted black;
  font-family: 'Raleway', sans-serif;
}

table td:nth-child(odd) {
  font-family: 'EB Garamond', serif;
}


/*  MEDIA QUERIES  */


/*  GO TWO COLUMN AT LESS THAN 1100 PIXELS */

@media only screen and (max-width: 1000px) {
  .span1-of-3 { 
    width: 48%; 
    margin: 1% 1%;
  }
  .section { 
    padding: 1%;
  }
} 

/*  GO FULL WIDTH AT LESS THAN 700 PIXELS */

@media only screen and (max-width: 700px) {
 
  aside.nav{
    padding: 0px;
  }
  .section { 
    padding: 1%;
    width: 100%;
  }
  .nav { 
    float:left;
    width:100%;
    padding-left: 5%;
    position:relative;
    float:left;
    padding-top: 10px;
    padding-bottom:10px;
  }

  .nav h1 {
    margin-top: 15px;
  }

   body aside .c-hamburger{
    display: block;
  }
  
  .nav-heading-div {
    margin: 0px
  }
  
  .nav-items .nav-links.menuOpen {
    max-height: 1000px;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  .nav-items .nav-links {
    max-height: 0;
    overflow: hidden;
    float: none;
    text-align: center;
    width: 100%;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }

  
}






/* hamburger icon */
.c-hamburger {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 75px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.1s;
          transition: background 0.1s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 25px;
  left: 10px;
  right: 25px;
  height: 5px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -12px;
}

.c-hamburger span::after {
  bottom: -12px;
}

/**
 * Style 1
 *
 * Rotating hamburger icon (rot), that simply rotates 90 degrees when activated.
 * Nothing too fancy, simple transition.
 */
/*.c-hamburger--rot {
  background-color: #28aadc;
}*/

.c-hamburger--rot span {
  -webkit-transition: -webkit-transform 0.1s;
          transition: transform 0.1s;
}

/* active state, i.e. menu open */
.c-hamburger--rot.is-active {
  background-color: #166888;
}

.c-hamburger--rot.is-active span {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

/**
 * Style 2
 * 
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */
.c-hamburger--htx {
  background-color: transparent;
}

.c-hamburger--htx span {
  -webkit-transition: background 0s 0.1s;
          transition: background 0s 0.1s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.1s, 0.1s;
          transition-duration: 0.1s, 0.1s;
  -webkit-transition-delay: 0.1s, 0s;
          transition-delay: 0.1s, 0s;
}

.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */


.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  -webkit-transition-delay: 0s, 0.1s;
          transition-delay: 0s, 0.1s;
}




